// fonts
$main-font: 'Lora', serif;

// colors
$accent-color: #f06d39;
$bg-color: #25252e;
$main-text-color: #25252e;
$sec-txt-color: #f4f4f4;
$footer-txt-color: #000;
$copyright-color: rgba(0, 0, 0, 0.8);

// transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
