<section class="about" id="about">
    <div class="container about__container">
        <h2 class="section-title">About us</h2>
        <p class="about__descr">LawLance is your comfort in resolving legal issues
            We are flexible in time, price, and categories of
            legal aid.</p>
        <div class="about__block">
            <svg class="about__img">
                <use href="images/icons.svg#icon-about"></use>
            </svg>
            <ul class="about__bulletpoints">
                <li class="about__item">
                    <h3 class="section-args section-args--short">Comfort</h3>
                    <p class="section-text">We work exclusively online, which allows you to save time and effort
                    </p>
                </li>
                <li class="about__item">
                    <h3 class="section-args section-args--short">Personal approach</h3>
                    <p class="section-text">The platform provides an opportunity for each Client to find an individual
                        approach in the order, terms, and conditions
                        of legal services</p>
                </li>
                <li class="about__item">
                    <h3 class="section-args section-args--short">Efficiency</h3>
                    <p class="section-text">Your case will be handled by a lawyer who will work only with you. One
                        Client - one Lawyer</p>
                </li>
            </ul>
        </div>

    </div>
</section>