<section class="coop">
    <div class="container coop__container">
        <svg class="coop__image">
            <use href="/src/images/icons.svg#icon-cooperation"></use>
        </svg>
        <div class="coop__top-text">
            <p class="coop__para">Looking for legal practice?</p>
            <p class="coop__para">A fan of remote work with your own time management?</p>
        </div>
        <p class="coop__title">Then join us!</p>
        <p class="coop__para">With LawLance you will gain practical experience in providing legal services and
            additional income. At the same time
            access to orders is provided without obligatory payments on your part</p>
        <p class="coop__para coop__para--bold">Leave your request for detailed information:</p>
        <div class="coop__contacts">
            <p class="coop__para">Contacts:</p>
            <p class="coop__para">Е-mail: info.lawlance@gmail.com</p>
            <p class="coop__para coop__para--centered">Viber/Whatsapp: +38 (068) 623 48 35</p>
            <p class="coop__para">Telegram: @LawLancePlatform</p>
        </div>
    </div>
</section>