<section class="policy">
    <div class="container policy__container">
        <h1 class="policy__title policy__title--en">Privacy policy
        </h1>
        <p class="policy__date">04.08.2022</p>
        <ul class="policy__list">
            <li class="policy__item">
                <p class="policy__para">This Privacy Policy (hereinafter referred to as the Policy) explains how
                    information about you is collected, how it is
                    used and disclosed to the LawLance platform (hereinafter - the Platform) when you visit a set of web
                    pages accessed
                    using a domain name (address): http: //www.lawlance.com.ua/ (hereinafter - the Site).</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">By visiting the Site and/or providing us with information through support
                    applications, forms, e-mail, or otherwise on
                    the Site and/or through the official social networks of the Platform, you accept our Policy under
                    the conditions set out
                    below. By filling out the request form on the Site, you automatically agree to receive informational
                    or advertising
                    mailings from the Platform and/or its partners.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">Acceptance of this Policy is considered to be your consent to the processing of
                    your personal data, in particular, but
                    not exclusively in Ukraine, and is a confirmation that you are notified of the procedure and purpose
                    and other
                    conditions of their processing in accordance with Art. Art. 6, 8, 10, 11 of the Law of Ukraine "On
                    Personal Data
                    Protection".</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">In addition, by accepting the Policy, you confirm that you have sufficient legal
                    capacity under the law's jurisdiction
                    of your country to consent to this Policy and consent to the processing of your personal data on the
                    terms set forth
                    herein. If you do not have sufficient legal capacity, you hereby confirm that your parents or
                    guardians, who have the
                    full civil capacity and are authorized by the law of the country of your jurisdiction to give such
                    consent, have given
                    their consent to these rules.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">We reserve the right to change this Policy. If we make changes, we will notify
                    you by updating the date at the top of
                    the Policy. We encourage you to read the terms of the Policy when you access the Site to stay
                    informed of our
                    informational methods and ways you can help protect your privacy.</p>
            </li>
        </ul>


        <h2 class="policy__subtitle">Terms</h2>
        <ul class="policy__list">
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Owner of personal data
                    </span> is a natural or
                    legal person who determines the purpose of personal data processing,
                    establishes the composition of
                    these data and the procedures for their processing unless otherwise provided by law;
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Consent of the personal data subject
                    </span> is a voluntary expression of the will of an individual (subject to his / her knowledge) to
                    grant permission to process
                    his / her personal data in accordance with the stated purpose of their processing, expressed in
                    writing or in a form
                    that allows to conclude consent;
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Processing of personal data
                    </span> is any action or set of actions, such as collection, registration, accumulation, storage,
                    adaptation, modification,
                    renewal, use and distribution (distribution, sale, transfer), depersonalization, destruction of
                    personal data, including
                    the user information (automated) systems;
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Personal data</span> is information or a set of
                    information about an individual who is identified or can be specifically identified;
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Personal data controller
                    </span> is a natural or legal person to whom the owner of personal data or the law gives the right
                    to
                    process this data on
                    behalf of the owner;
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">A personal data subject</span> is a natural
                    person in respect of whom his or her personal data is processed in accordance with the law.
                </p>
            </li>
        </ul>

        <h2 class="policy__subtitle">Rights of personal data subjects
        </h2>
        <ul class="policy__list">
            <li class="policy__item">
                <p class="policy__para">Personal non-proprietary rights to personal data held by each individual are
                    inalienable and inviolable.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">The personal data subject has the right to:</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">1) know about the sources of collection, location of their personal data, the
                    purpose of their processing, location or
                    place of residence (stay) of the owner or controller of personal data or give appropriate
                    instructions to obtain this
                    information to authorized persons, except as provided by law;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">2) receive information on the conditions for granting access to personal data,
                    in particular, information on third
                    parties to whom his personal data is transferred;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">3) access to their personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">4) receive no later than thirty calendar days from the date of receipt of the
                    request, except as provided by law, an
                    answer as to whether his personal data are processed, as well as receive the content of such
                    personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">5) make a reasoned request to the owner of personal data with an objection to
                    the processing of their personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">6) make a reasoned request to change or destroy their personal data by any owner
                    and controller of personal data, if
                    this data is processed illegally or is inaccurate;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">7) to protect their personal data from unlawful processing and accidental loss,
                    destruction, damage due to intentional
                    concealment, non-provision, or untimely provision, as well as to protect against the provision of
                    information that is
                    inaccurate or discredits honor, dignity, and business reputation an individual;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">8) apply to the Commissioner or the court with complaints about the processing
                    of their personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">9) apply legal remedies in case of violation of the legislation on personal data
                    protection;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">10) make reservations regarding the restriction of the right to process their
                    personal data during the consent;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">11) withdraw consent to the processing of personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">12) know the mechanism of automatic processing of personal data;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">13) for protection against an automated decision that has legal consequences for
                    him.</p>
            </li>
        </ul>

        <h2 class="policy__subtitle">Collection of information
        </h2>
        <p class="policy__para">The information is collected automatically through the Site. When you access the Site,
            we automatically collect
            information about you, including:</p>
        <ul class="policy__list policy__list--dotted">
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Identifying data: </span>We store and process
                    the information you provide to us when submitting online forms or online applications on the Site,
                    on the pages of our official social networks, and as part of the details of the provision of legal
                    services (surname,
                    name, patronymic, date of birth, nickname, e-mail, telephone number, information related to the
                    provision of legal
                    services, etc.);</p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Log files: </span>We record information about
                    the use of the Site, including the type of device used, access time, and your IP address.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Device Information: </span>We collect
                    information about the device you use to access the Site, including information about the software of
                    such
                    device and hardware, the address of the computer Internet Protocol (IP), the unique device
                    identifier (UDID), and other
                    data related to the device, as well as data on the use of our Site.
                </p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Usage Information: </span>We collect
                    information about the use of the Site, including your actions on the Site, if any.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Your geolocations: </span>We collect
                    information about your geolocations (state, city, zip/postal code, etc.).</p>
            </li>
            <li class="policy__item">
                <p class="policy__para"><span class="policy__para--bold">Cookies: </span>We collect small amounts of
                    data stored in your browsers, devices, or on the page you are viewing, such as web beacons
                    and similar tracking technologies. Cookies include:</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">operational cookies required for the operation of our sites;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">analytical/effective cookies that allow us to recognize and count the number of
                    users of our Sites and understand how
                    such users navigate our Sites;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">functional cookies that improve the functionality of our sites and make it
                    easier for you to use them;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">Cookie pop-up - we use cookies to determine if you have read the cookie consent
                    pop-up and so that we do not show it to
                    you again when you reject it</p>
            </li>
        </ul>
        <p class="policy__para">We may also obtain information from other sources and combine it with information we
            collect through the Site, either
            directly from data subjects or from customers, colleagues, and public sources.</p>




        <h2 class="policy__subtitle">Use of information</h2>
        <p class="policy__para">We may use information about you for various purposes, including:</p>
        <ul class="policy__list policy__list--dotted">
            <li class="policy__item">
                <p class="policy__para">provide you with legal services;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">develop new services;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">provide, maintain and improve the Site;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">provide and deliver the products and services for which you have sent us a
                    request and send you the relevant
                    information;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">send you messages;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">provide news and information about the Site and the work of the Platform, which
                    in our opinion will be of interest to
                    you;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">provide relevant marketing services, such as providing you with information
                    about events or services that may be of
                    interest to you, including legal services, legal updates, client conferences or networking events
                    and groups of
                    particular interest;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">personalize and improve service delivery and provide an individual approach;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">provide links in conjunction with information we receive from others to help
                    understand your needs and provide you with
                    the best service;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">collect information about your usage patterns while navigating the Sites to
                    enhance your personalized experience and
                    understand usage patterns to improve our Site, products, and services.</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">implement any other purposes for which the information was collected.</p>
            </li>
        </ul>

        <h2 class="policy__subtitle">Information exchange</h2>
        <p class="policy__para">We may provide information about you in one way or another as described in this Policy:
        </p>
        <ul class="policy__list policy__list--dotted">
            <li class="policy__item">
                <p class="policy__para">suppliers, consultants, and other service providers who need access to such
                    information to perform work or provide
                    services on our behalf;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">in response to a request for information, if we believe that disclosure is
                    necessary in accordance with any applicable
                    law, regulation, or litigation;</p>
            </li>
            <li class="policy__item">
                <p class="policy__para">if we believe that your actions are inconsistent with applicable law, the
                    provisions of our agreements or policies for
                    users, and to protect the rights, property, and safety of the Platform or others;</p>
            </li>
        </ul>
        <p class="policy__para">We may also provide third parties of our choice with aggregated information or
            impersonal information that cannot be
            used to identify you.</p>

        <h2 class="policy__subtitle">Exchange through social networks</h2>
        <p class="policy__para">The Site may offer sharing through social networks and other integrated tools (such as
            Facebook “Like” buttons) that
            allow you to share information from the Site. For more information on the purposes and scope of data
            collection and
            processing in connection with the specifics of sharing through social networks, please visit the privacy
            policy of the
            entities that provide these opportunities.</p>

        <h2 class="policy__subtitle">Security</h2>
        <p class="policy__para">The Platform takes reasonable steps to protect information about you from loss, theft,
            misuse and unauthorized access,
            disclosure, alteration, and destruction. In particular, we enter into additional non-disclosure agreements
            with personal
            data controllers, create internal privacy policies, where possible disclose information about data subjects
            and apply
            technical means of data protection.
        </p>

        <h2 class="policy__subtitle">Communication</h2>
        <p class="policy__para">You can exercise your rights as a personal data subject in accordance with this Policy
            by contacting us via e-mail: <span class="policy__email">info.lawlance@gmail.com</span></p>

        <h2 class="policy__subtitle">Information storage</h2>
        <p class="policy__para">The Platform will store and use the information for as long as necessary to provide
            quality services and as long as such
            use is deemed appropriate by the Platform, but not more than 5 years from the date of receipt by the
            Platform.</p>
    </div>
</section>