<section class="services" id="services">
    <div class="container services__container">
        <h2 class="section-title services__section-title">Our Services</h2>
        <ul class="services__bulletpoints">
            <li class="services__item">
                <img class="services__img" srcset="images/services-1.jpg 1x, images/services-1@2x.jpg 2x"
                    src="images/services-1.jpg" alt="Judge's gavel">
                <div class="services__text-block">
                    <h3 class="section-args">Procedural issues
                    </h3>
                    <p class="section-text">We provide assistance in drafting procedural documents of any type and
                        various branches of justice. Lawsuits, responses,
                        objections, petitions, complaints, statements - all this is under our control</p>
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" srcset="images/services-2.jpg 1x, images/services-2@2x.jpg 2x"
                    src="images/services-2.jpg" alt="Skyscrapers">
                <div class="services__text-block">
                    <h3 class="section-args">Legal support of business</h3>
                    <p class="section-text section-text--top">With us you can do your own business without worrying
                        about the legal aspects of its operation. Assistance in creating
                        legal entities, sole proprietors, preparation for registration actions, development of
                        individual internal documentation
                        is entrusted to us</p>
                    <p class="section-text section-text--bottom">In addition, our specialists provide legal services in
                        the field of contract law of various types on turnkey basis. We
                        are responsible for drafting contracts, checking them for potential risks and settling other
                        contractual issues</p>
                </div>

            </li>
            <li class="services__item">
                <img class="services__img" srcset="images/services-3.jpg 1x, images/services-3@2x.jpg 2x"
                    src="images/services-3.jpg" alt="People chatting">
                <div class="services__text-block">
                    <h3 class="section-args">Legal advice
                    </h3>
                    <p class="section-text">Do you have questions from the field of law? Is it difficult to deal with
                        legal procedures, documentation, or law
                        enforcement practices? Our lawyers will be able to provide you with written advice on any legal
                        issue that concerns you</p>
                </div>
            </li>
        </ul>
    </div>
</section>