<section class="terms">
    <div class="container terms__container">
        <h1 class="terms__title terms__title--en">Terms of use</h1>
        <p class="terms__date">04.08.2022</p>
        <ul class="terms__list">
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Acceptance of the Terms of Use. </span>This
                    website (hereinafter referred to as the Website) functions as a platform for the provision of legal
                    services. By
                    visiting the Website, you agree to these Terms of Use (the "Terms") set forth below. Use of the
                    Website is only possible
                    from the age of 18. By using the Website, you confirm that you have sufficient legal capacity under
                    the laws of your
                    country to use the Website. If you do not have sufficient legal capacity, you hereby confirm that
                    the use of the Website
                    is with the consent of your parents or guardians who have full civil capacity and are authorized by
                    the laws of the
                    country of your jurisdiction to give such consent.
                </p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Permission to use the Website. </span>We grant
                    users a limited, non-exclusive, revocable and non-sublicensing license to access and use our service
                    on users'
                    devices, as well as to use any content available on our service for non-commercial purposes.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Content rights protection. </span>Content
                    consists of phonograms, video, text, graphics, audiovisual or any other materials developed,
                    organized or
                    provided by the Platform and posted on the Website for use by the user (hereinafter - the Content).
                </p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Content and any other intellectual property objects hosted or associated with the
                    Website, including program code, marks
                    for goods and services, design elements, text, graphics, illustrations, videos, scripts, programs,
                    music, sounds, other
                    objects and their selections, as well as the Website itself are objects of intellectual property of
                    the Platform and /
                    or its rightful owners, and are protected by the legislation of Ukraine on intellectual property, as
                    well as relevant
                    international agreements and conventions.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Any use of the Website, its parts, Content, other intellectual property objects
                    hosted on the Website or related to it,
                    without the prior written permission of the Platform and / or its rightful owner is illegal and may
                    be grounds for
                    judicial review and bringing violators to civil, administrative and criminal liability in accordance
                    with the
                    legislation of Ukraine.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Use of the Website does not grant the user intellectual property rights to the
                    Content, documents or other materials to
                    which the user may access. The posting of information or materials on the Website does not
                    constitute a waiver by the
                    Platform or its rightful owners of any rights to such information or materials. The Company and the
                    rightful proprietors
                    reserve all exclusive intellectual property rights to the Content that belong to them, including the
                    right to prevent
                    and prohibit the unlawful use of the Content by third parties.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Privacy policy. </span>To use our service, you
                    agree to the collection, storage, use, disclosure and otherwise processing of your personal data
                    by us. The grounds, procedure for storage and processing, rights of subjects and measures to protect
                    information are
                    defined by <a href="" class="terms__para terms__para--link">the Privacy Policy.</a>
                    If we ask you to provide information about yourself when filling out information forms on the
                    Website, you must ensure
                    that this information is accurate and current.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Disclaimer. </span>The materials of the Website
                    are provided "as is". We make no warranties, express or implied, and hereby disclaim and
                    disclaim all other warranties, including, without limitation, such warranties or conditions of
                    fitness, fitness for a
                    particular purpose, or non-infringement of intellectual property rights or other rights. You
                    understand and acknowledge
                    that you may be exposed to content from a variety of sources while using the Website, and that we
                    are not responsible
                    for the accuracy, usefulness, security or intellectual property rights or anything related to such
                    content. We reserve
                    the right to terminate the service agreement provided for in these Terms at any time without
                    specifying the reasons for
                    such refusal.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Modification. </span>We reserve the right to make
                    changes to the Terms at any time and without prior notice to the user, and it is the user's
                    responsibility to review the Terms to read any changes. By using the Website, you agree to be in
                    compliance with the
                    current version of the Terms at the time of use.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Legal regulation. </span>The conditions are
                    regulated and interpreted in accordance with the legislation of Ukraine. If any personal data is
                    transmitted to the Website, it is subject to protection in accordance with current legislation of
                    Ukraine.</p>
            </li>
        </ul>
    </div>
</section>