<section class="about" id="about">
    <div class="container about__container">
        <h2 class="section-title">Про нас</h2>
        <p class="about__descr">LawLance - це Ваш комфорт при вирішенні правових питань Ми гнучкі у часі, ціні та
            категоріях надання юридичної допомоги</p>
        <svg class="about__img">
            <use href="images/icons.svg#icon-about"></use>
        </svg>
        <ul class="about__bulletpoints">
            <li class="about__item">
                <h3 class="section-args">Комфорт</h3>
                <p class="section-text">Ми працюємо виключно в онлайн-формі, що дає Вам змогу економити час та сили</p>
            </li>
            <li class="about__item">
                <h3 class="section-args">Персональний підхід</h3>
                <p class="section-text">Платфома надає можливість до кожного Клієнта знаходити індивідульний підхід у
                    порядку, строках та умовах надання
                    юридичних послуг</p>
            </li>
            <li class="about__item">
                <h3 class="section-args">Ефективність</h3>
                <p class="section-text">Вашою справою буде займатись Юрист, який працюватиме лише з Вами. Один Клієнт -
                    один Юрист</p>
            </li>
        </ul>

    </div>
</section>