<section class="footer">
    <div class="container footer__container">
        <a class="logo header__logo" href="./">
            <svg>
                <use href="images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="rules">
            <li class="rules__item"><a class="privacy-policy" href="">Політика Конфіденційності</a></li>
            <li class="rules__item"><a class="platform-usage" href="">Умови користання Платформою</a></li>
        </ul>
        <p class="copyright">© LawLance. 2021.</p>
    </div>
</section>