<section class="services">
    <div class="container services__container">
        <h2 class="section-title">Наші послуги</h2>
        <ul class="services__bulletpoints">
            <li class="services__item">
                <img class="services__img" srcset="images/services-1.jpg 1x, images/services-1@2x.jpg 2x"
                    src="images/services-1.jpg" alt="Суддівський молоток">
                <div class="services__text-block">
                    <h3 class="section-args">Процесуальні питання
                    </h3>
                    <p class="section-text">Ми надаємо допомогу із складання процесуальних документів будь-якого типу та
                        різних галузей судочинства. Позови,
                        відзиви, заперечення, клопотання, скарги, заяви - усе це під нашим контролем</p>
                </div>
            </li>
            <li class="services__item">
                <img class="services__img" srcset="images/services-2.jpg 1x, images/services-2@2x.jpg 2x"
                    src="images/services-2.jpg" alt="Хмарочоси">
                <div class="services__text-block">
                    <h3 class="section-args">Правова підтримка бізнесу</h3>
                    <p class="section-text section-text--top">З нами Ви зможете займатися власним бізнесом, не
                        турбуючись про правові
                        аспекти
                        його функціонування. Допомога при
                        створенні юридичних осіб, ФОПів, розробка індивідуальної внутрішньої документації покладається
                        на
                        наc</p>
                    <p class="section-text section-text--bottom">Окрім цього, наші спеціалісти надають юридичні послуги
                        у сфері договірного
                        права
                        різного типу від А до Я. В нашій
                        компетенції складання договорів, їх перевірка на потенційні ризики та врегулювання інших
                        договірних
                        питань</p>
                </div>

            </li>
            <li class="services__item">
                <img class="services__img" srcset="images/services-3.jpg 1x, images/services-3@2x.jpg 2x"
                    src="images/services-3.jpg" alt="Люди спілкуються">
                <div class="services__text-block">
                    <h3 class="section-args">Юридичні консультації
                    </h3>
                    <p class="section-text">Виникли правові запитання? Важко розібратися із юридичними процедурами,
                        документацією чи практикою застосування
                        законодавства? Наші юристи зможуть надати Вам письмову консультацію із будь-якого питання у
                        сфері
                        права, яке Вас хвилює</p>
                </div>
            </li>
        </ul>
    </div>
</section>