.section-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;

  color: $main-text-color;

  @include desktop {
    font-size: 20px;
  }

  &--top {
    margin-bottom: 10px;
    @include desktop {
      margin-bottom: 25px;
    }
  }
  &--bottom {
    border-top: none;
  }
}
