.section-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.8;

  text-align: center;
  text-transform: capitalize;

  color: $main-text-color;

  @include desktop {
    margin-bottom: 17px;

    font-size: 34px;
  }
}

.services__section-title {
  @include desktop {
    margin-bottom: 40px;
  }
}
