.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  width: 171px;
  height: 41px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.8;

  color: $main-text-color;
  background-color: $accent-color;
  box-shadow: 2px 4px 4px rgba(240, 109, 57, 0.25);
  border-radius: 14px;
  border: none;
  cursor: pointer;

  transition: background-color $transition, box-shadow $transition;

  &--inactive {
    background-color: $inactive-btn-color;
    box-shadow: 2px 4px 4px rgba(158, 158, 158, 0.25);
    &:hover {
      background-color: $accent-color;
      box-shadow: 2px 4px 4px rgba(240, 109, 57, 0.25);
    }
  }
}

.header__submit-button {
  display: none;
}
