.footer {
  border-top: 1px solid $footer-border;

  @include mobile {
    padding-bottom: 20px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    position: relative;

    @include desktop {
      display: flex;
      align-items: baseline;
      padding-left: 396px;
    }
  }
}

.rules {
  text-align: center;
  @include desktop {
    display: flex;
  }
}

.rules__item:not(:last-child) {
  @include desktop {
    margin-right: 15px;
  }
}

.privacy-policy {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;

  letter-spacing: -0.015em;

  color: $footer-txt-color;
}

.platform-usage {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;

  letter-spacing: -0.015em;

  color: $footer-txt-color;
}

.copyright {
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;

  letter-spacing: -0.015em;

  @include desktop {
    margin-left: auto;
  }
}
