.form {
  padding-top: 25px;
  padding-bottom: 18px;

  @include desktop {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__container {
    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__title {
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 25px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: -0.015em;

  color: $main-text-color;

  @include desktop {
    margin-bottom: 17px;
    font-size: 34px;
    line-height: 2.12;
  }
}

.form__descr {
  margin-bottom: 13px;

  font-size: 22px;
  line-height: 1.82;

  text-align: center;
  letter-spacing: -0.015em;

  color: $main-text-color;

  @include desktop {
    margin-bottom: 85px;
    font-size: 30px;
    line-height: 1.67;
  }
}

.form__input {
  width: 100%;
  height: 54px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;

  letter-spacing: -0.015em;

  color: rgba(37, 37, 46, 0.8);

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  @include desktop {
    height: 68px;
    margin-bottom: 40px;
    padding-left: 24px;
  }

  &::placeholder {
    color: rgba(37, 37, 46, 0.8);
  }

  &--dropdown {
    @include desktop {
      margin-bottom: 36px;
    }
  }
}

.form__input-option {
  padding-top: 22px;
  padding-bottom: 22px;
  color: $main-text-color;
}

.form__policy-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include mobile {
    justify-content: center;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.form__policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__policy-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;

  letter-spacing: -0.015em;

  color: $main-text-color;
}

.form__policy-link {
  margin-left: 0.3em;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: underline;

  letter-spacing: -0.015em;

  color: $accent-color;
}

.form__icon-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  background: #fff;

  border: 2px solid $checkbox-border;
  border-radius: 5px;

  .form__policy-checkbox:checked ~ .form__policy-label & {
    background-color: $accent-color;
    border: 2px solid transparent;
  }
}

.form__checkmark {
  width: 16px;
  height: 15px;
  fill: #fff;
}
