.policy__container {
  padding-top: 30px;
  padding-bottom: 90px;

  @include mobile {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.policy__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 395px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.8;
  text-align: center;

  border-bottom: 2px solid $accent-color;

  @include mobile {
    max-width: 275px;
    padding-bottom: 20px;

    font-size: 26px;
    line-height: 1.3;
  }

  &--en {
    max-width: 190px;

    @include mobile {
      max-width: 180px;
    }
  }
}

.policy__date {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.8;
  text-align: right;

  @include mobile {
    font-size: 20px;
  }
}

.policy__list {
  &:first-of-type {
    padding-top: 30px;
  }

  &--dotted {
    margin-top: 1em;
    margin-bottom: 1em;

    list-style: unset;

    @include mobile {
      list-style: none;
    }

    & > li {
      margin-left: 1.5em;
      padding-left: 1.5em;

      @include mobile {
        margin-left: unset;
        padding-left: unset;
      }
    }
  }
}

.policy__item:not(:last-child) {
  margin-bottom: 1em;
}

.policy__para {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.8;
  text-align: justify;

  @include mobile {
    font-size: 16px;
  }

  &--bold {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.8;
    text-align: justify;

    @include mobile {
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.policy__subtitle {
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 600;
  font-size: 28px;
  line-height: 1.8;
  text-align: center;

  @include mobile {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.policy__email {
  font-weight: 600;
  text-decoration-line: underline;
}
