<footer class="footer">
    <div class="container footer__container">
        <a class="logo footer__logo" href="./">
            <img src="/src/images/icon-logo.svg" alt="Лого">
        </a>
        <ul class="rules">
            <li class="rules__item"><a class="privacy-policy" href="">Політика Конфіденційності</a></li>
            <li class="rules__item"><a class="platform-usage" href="">Умови користання Платформою</a></li>
        </ul>
        <p class="copyright">© LawLance. 2022.</p>

        <ul class="socials socials--footer">
            <li class="socials__item"><a class="socials__link" aria-label="Instagram"
                    href="https://www.instagram.com/law__lance" target="_blank"><svg class="socials__icon">
                        <use href="images/icons.svg#icon-instagram"></use>
                    </svg></a></li>
            <li class="socials__item"><a class="socials__link" aria-label="Facebook"
                    href="https://www.facebook.com/LawLancePlatform" target="_blank"><svg class="socials__icon">
                        <use href="images/icons.svg#icon-facebook"></use>
                    </svg></a></li>
        </ul>
    </div>
</footer>