<section class="form" id="form">
    <div class="container form__container">
        <h2 class="form__title">Заявка для отримання юридичних послуг</h2>
        <p class="form__descr">Після надсилання запиту, наш спеціаліст зв'яжеться з Вами</p>
        <form class="application-form" action="submit">
            <input class="form__input" type="text" name="name" id="name" placeholder="Як до вас звертатися?">
            <input class="form__input" type="text" name="email-or-phone" id="email-or-phone"
                placeholder="Ваша електорнна пошта або номер телефону">
            <select class="form__input" name="question" id="question">
                <option class="form__input-option" value="питання">Ваше правове питання до нас
                </option>
                <option class="form__input-option" value="складання договору">Складання договору</option>
                <option class="form__input-option" value="реєстрація бізнесу">Реєстрація бізнесу</option>
                <option class="form__input-option" value="консультація">Консультація</option>
                <option class="form__input-option" value="інше">Інше</option>
            </select>
            <div class="form__policy-field">
                <input type="checkbox" name="policy" id="policy" class="form__policy-checkbox" />
                <label for="policy" class="form__policy-label">
                    <span class="form__icon-checkbox">
                        <svg class="form__checkmark">
                            <use href="./images/icons.svg#icon-check"></use>
                        </svg>
                    </span>
                    Погоджуюся із
                    <a href="" class="form__policy-link">Політикою конфіденційності</a>
                </label>
            </div>
            <button class="submit-button submit-button--inactive" disabled type="submit" data-modal-open>Залишити
                заявку</button>
        </form>
    </div>
</section>