<section class="hero">
    <div class="container hero__container">
        <img class="hero__img" srcset="images/hero-img.jpg 1x, images/hero-img@2x.jpg 2x" src="images/hero-img.jpg"
            alt="low-poly background">
        <div class="hero__block">
            <h1 class="hero__name">LawLance</h1>
            <p class="hero__descr">Онлайн платформа
                з надання юридичних послуг</p>
            <a class="submit-button hero__submit-button" href="#form">Залишити заявку</a>
        </div>
    </div>
</section>