<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
        <h3 class="modal__title">Ваша заявка успішно надіслана!</h3>
        <p class="modal__text">Після надсилання запиту, наш спеціаліст зв'яжеться з Вами</p>
        <svg class="modal__img">
            <use href="images/icons.svg#icon-submit-success"></use>
        </svg>
        <button class="modal__btn-close" data-modal-close>
            <svg class="modal__close-icon">
                <use href="images/icons.svg#icon-modal-close"></use>
            </svg>
        </button>
    </div>
</div>