<section class="terms">
    <div class="container terms__container">
        <h1 class="terms__title">Умови користування веб-сайтом</h1>
        <p class="terms__date">04.08.2022</p>
        <ul class="terms__list">
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Прийняття умов використання. </span>Цей
                    веб-сайт
                    (далі - Веб-сайт) функціонує як платформа для надання юридичних послуг. Відвідуючи Веб-сайт, ви
                    погоджуєтеся із цими Умовами використання (далі - Умови), визначеними нижче. Використання
                    Веб-сайту
                    можливе лише з
                    досягнення 18 років. Використовуючи Веб-сайт, Ви підтверджуєте, ви маєте достатню правоздатність
                    та
                    дієздатність за
                    законами Вашої країни для використання Веб-сайту. У випадку, якщо Ви не маєте достатнього обсягу
                    дієздатності, цим Ви
                    підтверджуєте, що використання Веб-сайту здійснюється за згодою ваших батьків або опікунів, що
                    мають
                    повний обсяг
                    цивільної дієздатності та уповноважені за законами країни Вашої юрисдикції давати таку згоду.
                </p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Дозвіл на використання Веб-сайту. </span>Ми
                    надаємо
                    користувачам обмежену, невиключну, відкличну і без права субліцензування ліцензію на доступ та
                    використання
                    нашого сервісу на девайсах користувачів, а також на використання будь-якого контенту, що є на
                    нашому
                    сервісі з
                    некомерційною метою.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Захист прав на контент. </span>Контентом є
                    фонограми, відео, текстові, графічні, аудіовізуальні або будь-які інші матеріали, розроблені,
                    організовані
                    або надані Платформою та розміщені на Веб-сайті для використання користувачем (далі - Контент).
                </p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Контент та будь-які інші об’єкти інтелектуальної власності, розміщені на
                    Веб-сайті
                    чи пов’язані з ним, у тому числі
                    програмний код, знаки для товарів і послуг, елементи дизайну, текст, графічні зображення,
                    ілюстрації,
                    відео, скрипти,
                    програми, музика, звуки, інші об’єкти та їх добірки, а також сам Веб-сайт є об’єктами
                    інтелектуальної
                    власності
                    Платформи та/або її законних правовласників, та охороняються законодавством України про
                    інтелектуальну
                    власність, а
                    також відповідними міжнародними угодами і конвенціями.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Будь-яке використання Веб-сайту, його частини, Контенту, інших об’єктів
                    інтелектуальної власності, що розміщені на
                    Веб-сайті або пов’язані з ним, без попереднього письмового дозволу Платформи та/або її законного
                    правовласника є
                    незаконним і може стати підставою для судового розгляду та притягнення порушників до
                    цивільно-правової,
                    адміністративної
                    та кримінальної відповідальності відповідно до законодавства України.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para">Користування Веб-сайтом не надає користувачеві прав інтелектуальної
                    власності на
                    Контент, документи чи інші матеріали,
                    до яких користувач може отримати доступ. Розміщення інформації або матеріалів на Веб-сайт не
                    означає
                    відмови Платформи
                    чи їх законних правовласників від будь-яких прав на таку інформацію чи матеріали. Компанія та
                    законні
                    правовласники
                    залишають за собою всі виключні майнові права інтелектуальної власності на Контент, що їм
                    належать,
                    включаючи право
                    перешкоджати та забороняти протиправне використання Контенту третіми особами.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Політика конфіденційності. </span>Для
                    використання
                    нашої послуги Ви погоджуєтесь на збирання, зберігання, використання, розкриття та обробку іншим
                    чином
                    Ваших особистих даних нами. Підстави, порядок зберігання та обробки, права суб’єктів і заходи
                    захисту
                    інформації
                    визначені <a href="" class="terms__para terms__para--link">Політикою
                        конфіденційності.</a>
                    Якщо ми
                    просимо вас надати інформацію про себе під час заповнення
                    інформаційних
                    форм на Веб-сайті, ви повинні переконатися, що ця інформація є точною та актуальною.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Відмова від
                        відповідальності. </span>Матеріали
                    Веб-сайту надаються "як є". Ми не даємо жодних гарантій, явних чи побічних, і цим відмовляємо та
                    заперечуємо
                    всі інші гарантії, включаючи, без обмежень, такі як гарантії або умови належності, придатності
                    до певної
                    мети, або не
                    порушенням прав інтелектуальної власності чи інших прав. Ви розумієте та підтверджуєте, що під
                    час
                    використання
                    Веб-сайту ви можете піддаватись вмісту з різних джерел, і що ми не несемо відповідальності за
                    точність,
                    корисність,
                    безпеку чи права інтелектуальної власності або все, що стосується такого вмісту. Ми залишаємо за
                    собою
                    право розірвати
                    договір про надання послуг, передбачений цими Умовами, у будь-який час, не вказуючи причини
                    такої
                    відмови.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Модифікація. </span>Ми залишаємо за собою
                    право
                    вносити зміни до
                    Умов у будь-який час та без попереднього повідомлення користувача, і
                    перегляд Умов для ознайомлення з будь-якими змінами є обов’язком користувача. Використовуючи
                    Веб-сайт,
                    ви погоджуєтесь
                    бути виконувати поточну на момент використання версію Умов.</p>
            </li>
            <li class="terms__item">
                <p class="terms__para"><span class="terms__para--bold">Правове регулювання. </span>Умови
                    регулюються та
                    тлумачаться відповідно до законодавства України. Якщо будь-які персональні дані передаються на
                    Веб-сайт, вони підлягають захисту відповідно до чинного законодавства України.</p>
            </li>
        </ul>
    </div>
</section>